<!doctype html>
<meta charset=utf-8>
<title>New Tab</title>
<link rel=stylesheet href=styles/master.css>
<link rel=stylesheet href=fontello/all.css>
<script src=vendor/angular.js></script>
<script src=vendor/angular-animate.js></script>
<script src=scripts/main.js></script>

<body ng-csp ng-app=app ng-controller=AppCtrl>

<!-- This bar variable, declared in `ng-repeat` is used by the template
directives and their controllers. -->
<!-- XXX: Having ngRepeat and ngInclude on the same element causes problems with
animations. Until this is fixed, they can't be on the same element.
See http://stackoverflow.com/q/20193231/151048
-->
<div ng-repeat='bar in bars track by bar.id' class='bar bar-item-animate'
    name='{{bar.name}}'>
  <span ng-include='"bars/" + bar.name + ".html"'></span>
</div>

<div id=apps ng-controller=AppsListCtrl>
  <span class=app-item ng-repeat='app in apps | orderBy:"name"' menu-box=contextmenu>
    <a class=app-ln href='{{app.appLaunchUrl}}' tip='{{app.name}}'
      ng-class='{new: app.isNew}'>
      <img ng-src='{{app.largestIcon.url}}' width=32 height=32></a>
    <ul class='menu se'>
      <li><a href='{{app.appLaunchUrl}}'><b>{{app.name}}</b></a>
      <li><a href='{{app.homepageUrl}}'><i class=i-link-ext></i> View in Web Store</a>
      <li><a tabindex=0 ng-click='uninstall(app)'><i class=i-cancel></i> Uninstall app</a>
    </ul>
  </span>
</div>

<nav>
  <a tip='Reorder/Configure bars' ng-click='editMode = !editMode'
    ng-class='{active: editMode}'><i class=i-edit></i></a>
  <span menu-box>
    <a tip='Add new bar'><i class=i-add></i></a>
    <ul class='menu ne'>
      <li class=header>Add bar of type</li>
      <li ng-repeat='(name, bar) in registry'>
        <a tabindex=0 ng-click='addNewBar(name)'>
          <i class='i-{{bar.icon}}'></i> {{bar.title}}</a>
      </li>
    </ul>
  </span>
  <section class=right>
    <a tip='You are offline' ng-hide=nav.onLine class=offline-ind>
      <i class=i-flash></i></a>
    <span menu-box>
      <a><i class=i-chrome></i></a>
      <ul class='menu nw'>
        <li class=header>Chrome pages</li>
        <li><a href=chrome-internal://newtab><i class=i-doc></i> New tab</a></li>
        <li><a href=chrome://history><i class=i-history></i> History</a></li>
        <li><a href=chrome://bookmarks><i class=i-star></i> Bookmarks</a></li>
        <li><a href=chrome://plugins><i class=i-extension></i> Plugins</a></li>
        <li><a href=chrome://extensions><i class=i-extension></i> Extensions</a></li>
        <li><a href=chrome://settings><i class=i-settings></i> Settings</a></li>
      </ul>
    </span>
    <a href='https://chrome.google.com/webstore'><i class=i-webstore></i></a>
    <a ng-click='showOptions = true'><i class=i-options></i></a>
    <a ng-click='showHelp = true'><i class=i-help></i></a>
  </section>
</nav>

<div class=pop-slide ng-show=showOptions ng-cloak>
  <button class=reset-btn ng-click='reset()'>Reset!</button>
  <button class=close-btn ng-click='showOptions = false'>Close</button>
</div>

<div class=pop-slide ng-show=showHelp ng-cloak>
  <h1>Rubber tab!</h1>
  <p>Hello there! Thank you for trying out Rubber tab.</p>
  <p>Rubber tab is open source, released with the
    <a href='http://mitl.sharats.me'>MIT license</a>. You can find the source
    code on the <a href='https://github.com/sharat87/rubber-tab'>github project</a>.</p>
  <button class=close-btn ng-click='showHelp = false'>Close</button>
</div>

<!-- Bar ideas
  - Github notifications.
  - Random country, its capital, language and largest city.
  - Random word of the day and its definition.
  - Posts from a user-specified subreddit.
  - An RSS ticker.
-->

<script type=text/ng-template id=left-btns.html>
  <span class=btns>
    <span class=reorder-btns ng-show=editMode>
      <a ng-click='moveUp(bar)' ng-show=!$first><i class=i-move-up></i></a>
      <a ng-click='moveDown(bar)' ng-show=!$last><i class=i-move-down></i></a>
    </span>
    <!-- Bar icon should be added here. -->
  </span>
</script>

<script type=text/ng-template id=bars/datetime.html>
  <div ng-controller=TimeBar>
    <left-btns iref='http://everytimezone.com'></left-btns>
    <span>
      <b>{{use24 ? hour24 : hour12}}</b>:<b>{{minute}}</b>
      <span ng-if=!use24>
        <span ng-show=isAm>AM</span><span ng-hide=isAm>PM</span>
      </span>
      &mdash;
      {{weekday}}, <b>{{date}}</b><sup>{{dateSuffix}}</sup> {{month}} {{year}}
    </span>
    <span class=btns>
      <a ng-click='showPrefs = !showPrefs' ng-show=editMode>
        <i class=i-cog ng-class='{active: showPrefs}'></i></a>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
    <div class='prefs v-scale-slide' ng-show=showPrefs>
      <label>
        <input type=checkbox ng-model=use24>
        <span>Use 24 hour time</span>
      </label>
    </div>
  </div>
</script>

<script type=text/ng-template id=bars/gmail.html>
  <div ng-controller=GMailBar>
    <left-btns iref='https://gmail.com'></left-btns>
    <span class=dull ng-show='unreads == null'>Loading GMail...</span>
    <span ng-show='unreads != null'>{{unreads}} unread mails</span>
    <span class=btns>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
  </div>
</script>

<script type=text/ng-template id=bars/facebook.html>
  <div ng-controller=FacebookBar>
    <left-btns iref='https://facebook.com'></left-btns>
    <span class=dull ng-show='inbox == null'>Loading Facebook...</span>
    <span ng-show='inbox != null'>
      {{notifications.num_unread}} notifications and
      {{inbox.unread}} unread messages
    </span>
    <span class=btns>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
  </div>
</script>

<script type=text/ng-template id=bars/weather.html>
  <div ng-controller=WeatherBar>
    <left-btns iref='https://google.co.in/search?q=weather'></left-btns>
    <span class=dull ng-hide=temperature>Loading weather...</span>
    <span ng-show=temperature>
      <span ng-switch=units>
        <span ng-switch-when=c>{{temperature}}&deg;C</span>
        <span ng-switch-when=f>{{temperature * 1.8 + 32}}&deg;F</span>
        <span ng-switch-when=k>{{temperature + 273}}K</span>
      </span>
      <span class=dull>with</span> {{condition | lowercase}}
      <span ng-hide=hideLocation>
        <span class=dull>in</span>
        {{location.city}}<span ng-if='location.city != location.country'>,
          {{location.country}}</span>
      </span>
    </span>
    <span class=btns>
      <a ng-click='showPrefs = !showPrefs' ng-show=editMode>
        <i class=i-cog ng-class='{active: showPrefs}'></i></a>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
    <div class='prefs v-scale-slide' ng-show=showPrefs>
      <label>
        <span>Units:</span>
        <span class=radio-bar>
          <label>
            <input type=radio name=tunits value=c ng-model=units><span>Celsius</span>
          </label>
          <label>
            <input type=radio name=tunits value=f ng-model=units><span>Fahrenheit</span>
          </label>
          <label>
            <input type=radio name=tunits value=k ng-model=units><span>Kelvin</span>
          </label>
        </span>
      </label>
      <label>
        <span>Location:</span>
        <input type=text ng-model=address placeholder='Leave empty to autodetect'>
        <span class=tip>Just <b>City</b> or <b>City, Country</b>.</span>
      </label>
      <label>
        <input type=checkbox ng-model=hideLocation>
        <span>Hide Location</span>
      </label>
      <p class=dull>Changes to location take effect after refresh.</p>
    </div>
  </div>
</script>

<script type=text/ng-template id=bars/news.html>
  <div ng-controller=NewsBar>
    <left-btns iref='https://news.google.com'></left-btns>
    <span class=dull ng-hide=items>Loading News...</span>
    <span ng-show=items class=mark-visited>
      <span ng-repeat='item in items' ng-show='expanded || activeIndex === $index'
          ng-class='{expanded: expanded}'>
        <a href='{{item.link}}'>{{item.title}}</a>
      </span>
    </span>
    <span class=btns>
      <a ng-click='toggleExpand()'>
        <i class='{{expanded ? "i-up-open" : "i-down-open"}}'></i></a>
      <a ng-click='showPrefs = !showPrefs' ng-show=editMode><i class=i-cog></i></a>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
    <div class='prefs v-scale-slide' ng-show=showPrefs>
      <strong>Google News Controls</strong>
      <label><span>Edition:</span> <input type=text ng-model=edition></label>
      <label><span>Language:</span> <input type=text ng-model=lang></label>
      <!-- <label>Region: <input type=text placeholder='Leave empty to auto-detect'></label> -->
      <label>
        <span>Topic:</span>
        <select ng-model=topic>
          <option value=>Top
          <option value=b>Business
          <option value=e>Entertainment
          <option value=m>Health
          <option value=n>Local
          <option value=t>Sci/Tech
          <option value=snc>Science
          <option value=s>Sports
          <option value=tc>Technology
          <option value=w>World
        </select>
      </label>
      <p class=dull>Changes take effect after refresh.</p>
    </div>
  </div>
</script>

<script type=text/ng-template id=bars/topsites.html>
  <div ng-controller=TopSitesBar>
    <left-btns iref='chrome://history'></left-btns>
    <span class=dull ng-hide=items>Loading your most visited sites...</span>
    <span ng-show=items>
      <span ng-repeat='item in items' ng-show='expanded || activeIndex === $index'
          ng-class='{expanded: expanded}'>
        <a href='{{item.url}}'>
          <img ng-src='chrome://favicon/{{item.url}}' ng-show='expanded || showFavicons'>
          {{item.title}} <span class=dull>{{item.url}}</span>
        </a>
      </span>
    </span>
    <span class=btns>
      <a ng-click='toggleExpand()'>
        <i class='{{expanded ? "i-up-open" : "i-down-open"}}'></i></a>
      <a ng-click='showPrefs = !showPrefs' ng-show=editMode><i class=i-cog></i></a>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
    <div class='prefs v-scale-slide' ng-show=showPrefs>
      <label>
        <input type=checkbox ng-model=showFavicons>
        <span>Show favicons</span>
      </label>
    </div>
  </div>
</script>

<script type=text/ng-template id=bars/rss.html>
  <div ng-controller=RssBar>
    <left-btns iref=#></left-btns>
    <span class=dull ng-show='feedUrl && !items'>Loading Feed...</span>
    <span ng-hide=feedUrl><b>Please specify a feed Url.</b></span>
    <span ng-show=items class=mark-visited>
      <span ng-repeat='item in items' ng-show='expanded || activeIndex === $index'
          ng-class='{expanded: expanded}'>
        <a href='{{item.link}}'>{{item.title}}</a>
      </span>
    </span>
    <span class=btns>
      <a ng-click='toggleExpand()'>
        <i class='{{expanded ? "i-up-open" : "i-down-open"}}'></i></a>
      <a ng-click='showPrefs = !showPrefs' ng-show=editMode><i class=i-cog></i></a>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
    <div class='prefs v-scale-slide' ng-show=showPrefs>
      <label><span>Feed Url:</span> <input type=text ng-model=feedUrl></label>
    </div>
  </div>
</script>

<script type=text/ng-template id=bars/reddit.html>
  <div ng-controller=RedditBar>
    <left-btns iref='https://reddit.com/message/unread'></left-btns>
    <span class=dull ng-show='unreads == null'>Loading Reddit...</span>
    <span ng-show='unreads != null'>{{unreads}} unread messages</span>
    <span class=btns>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
  </div>
</script>

<script type=text/ng-template id=bars/subreddit.html>
  <div ng-controller=SubRedditBar>
    <left-btns iref=#></left-btns>
    <span class=dull ng-show='subr && !items'>Loading Feed...</span>
    <span ng-hide=subr><b>Please specify a subreddit name.</b></span>
    <span ng-show=items class=mark-visited>
      <span ng-repeat='item in items' ng-show='expanded || activeIndex === $index'
          ng-class='{expanded: expanded}'>
        <a href='{{item.link}}'>{{item.title}}</a>
      </span>
    </span>
    <span class=btns>
      <a ng-click='toggleExpand()'>
        <i class='{{expanded ? "i-up-open" : "i-down-open"}}'></i></a>
      <a ng-click='showPrefs = !showPrefs' ng-show=editMode><i class=i-cog></i></a>
      <a ng-click='removeBar(bar)' ng-show=editMode><i class=i-trash></i></a>
    </span>
    <div class='prefs v-scale-slide' ng-show=showPrefs>
      <label><span>Subreddit:</span> <input type=text ng-model=subr></label>
    </div>
  </div>
</script>

<script type=text/ng-template id=bars/bookmarks.html>
  <div ng-controller=BookmarkBar>
    <a href=chrome://bookmarks><i class='i-bookmark-empty bullet-icon'></i></a>
    <span ng-repeat='item in bar.children' class=bookmark>
      <a href='{{item.url}}'>
        <span>{{item.title}}</span>
        <i class=i-down-dir ng-if=item.children></i>
      </a>
    </span>
  </div>
</script>
