bg-color = #444
fg-color = white

button()
  background-color transparent
  color white
  border thin solid @color
  border-radius 3px
  box-shadow 0 0 3px @color
  padding 0 6px

  &:hover, &:focus
    background-color white
    color black
    box-shadow none

  &.reset-btn
    &:hover, &:focus
      background-color #F44
      border-color #F44
      box-shadow 0 0 6px #F44

bar()
  background-color rgba(0, 0, 0, .2)
  &:hover
    background-color rgba(0, 0, 0, .3)
    box-shadow 0 0 2px @background-color

bar-icon()
  background-color rgba(0, 0, 0, .2)

bar-icon-active()
  background-color rgba(0, 0, 0, .6)

bar-prefs()
  background-color rgba(0, 0, 0, .8)
  box-shadow 0 6px 24px rgba(0, 0, 0, .7)

app-ln()
  border-radius 3px
  background-color rgba(0, 0, 0, .1)
  &:hover
    background-color rgba(0, 0, 0, .6)
    box-shadow 0 0 3px rgba(0, 0, 0, .9)

nav()
  background-color rgba(30, 30, 30, .9)
  box-shadow 0 0 6px rgba(0, 0, 0, .3)
  a
    color inherit
    opacity .4
    &:hover, &:focus, &.active
      background-color rgba(0, 0, 0, .5)
      opacity 1

nav-edit-btn-active()
  background-color #06D
  text-shadow 0 0 6px

nav-offline-ind()
  color #07F

tip()
  background-color rgba(0, 0, 0, .8)
  box-shadow 0 2px 6px rgba(0, 0, 0, .3)

menu()
  border 1px solid rgba(0, 0, 0, .15)
  box-shadow 0 6px 12px rgba(0, 0, 0, .2)
  background-color rgba(0, 0, 0, .9)
  a:hover
    background-color #000

pop-slide()
  background-color rgba(0, 0, 0, .8)
  box-shadow 0 0 20px rgba(0, 0, 0, .8)
  a
    color #BDF

donate-btn()
  background #094
  box-shadow 0 0 9px @background-color
  color #CFE
  &:hover
    background #0A4

