// Uses variables from themes. Assumes imported from command line.

@font-face
  font-family open-sans
  src url(OpenSans-Light.ttf) format(truetype)
  font-weight normal
  font-style normal

@font-face
  font-family open-sans
  src url(OpenSans-Regular.ttf) format(truetype)
  font-weight bold
  font-style normal

*
  box-sizing border-box

body
  font 18px open-sans, sans-serif
  font-weight normal
  background-color bg-color
  color fg-color
  margin 0 0 58px

b, h1, h2
  font-weight bold

button
  font inherit
  cursor pointer
  button()

a
  text-decoration none
  color #FFF
  cursor pointer

  &:hover
    text-decoration underline

input[type=text], input:not([type])
  border thin solid rgba(0, 0, 0, .8)
  border-radius 1px
  padding 3px
  font inherit

  &:focus
    border-color rgba(255, 255, 255, .4)

select
  vertical-align middle
  font inherit

.pop-slide
  position absolute
  height calc(100% - 37px)
  overflow-y auto
  top 0
  right 0
  width 420px
  padding 12px
  font-weight bold
  z-index 10
  pop-slide()

  label
    display block

  a
    text-decoration underline

  button
    display block
    padding 6px
    width 100%

    &:first-of-type
      margin 48px 0 12px

    &:hover, &:focus
      outline none

    &:active
      -webkit-transform translatey(1px)

  .donate-btn
    padding 6px
    width 100%
    border-radius 3px
    display block
    text-decoration none
    text-align center
    text-shadow 0 -1px 0 rgba(0, 0, 0, .5)
    font-weight bold
    donate-btn()

    &:active
      box-shadow none

.bar
  margin 12px
  border-radius 2px
  position relative
  font-size 1.4em
  bar()

  [ng-controller]
    border-spacing 0
    width 100%
    display table-row

    a
      display inline-block
      color inherit

    > span, > .content
      padding 0 12px
      width 100%
      display table-cell
      white-space nowrap
      overflow hidden

      // I don't really understand this, but it seems to fix overflow of text in
      // bars. The 300 is calculated to be a bit more than the total width of
      // the maximum no. of bar-buttons, which is 5*52 = 260.
      max-width 300px

    > span.btns
      padding 0
      width auto
      white-space nowrap

      i:before
        bar-icon()
        width 52px
        line-height 52px

      .reorder-btns i:before
        width 24px

      a:hover, a.active
        i:before
          bar-icon-active()

    button
      font-size .8em

    .mark-visited a:visited
      color #888

    &[ng-controller='NewsBar'],
    &[ng-controller='RssBar'],
    &[ng-controller='SubRedditBar']

      .expanded > *
        display block

        &:before
          content '∘'
          opacity .7

        &:last-child
          margin-bottom 12px

    &[ng-controller='TopSitesBar'] .expanded > *
      display block
      margin 6px 0

      img
        margin-right 6px

      &:last-child
        margin-bottom 12px

    &[ng-controller='SubRedditBar'] .comments
      margin-right 12px
      color rgba(255, 255, 255, .6)

      &:hover
        text-decoration none
        color #FFF

  .dull
    color #999

  .prefs
    position absolute
    padding 6px 12px
    border-radius 0 0 3px 3px
    min-height 120px
    top 100%
    right 0
    font-size .8em
    z-index 100
    bar-prefs()

    > *
      display block
      margin-bottom 12px

    label

      span:first-child
        width 120px
        display inline-block

        + *
          width 280px

      .tip
        margin-left 120px

    .tip
      color #CCC
      font-size .8em
      display block

.bar-item-animate
  // Bar animations

  // // FIXME: The initial bars are also being animated.
  // &.ng-enter
  //   opacity 0
  //   &.ng-enter-active
  //     opacity 1

  &.ng-leave
    overflow hidden
    transition all .5s ease
    height 52px
    opacity 1
    &.ng-leave-active
      height 0
      opacity 0

  &.ng-move
    transition all .5s ease
    -webkit-transform translateY(64px)
    &.ng-move-active
      -webkit-transform translateY(0)

  &.ng-move + div
    -webkit-transform translateY(-64px)

  &.ng-move.ng-move-active + div
    -webkit-transform translateY(0)
    transition all 1s ease

.bookmark > a
  line-height 52px
  display inline-block
  padding 0 6px

  &:hover
    text-decoration none
    background-color rgba(0, 0, 0, .2)

  &:active
    background-color #000

#apps
  margin 24px 12px

  .app-item
    position relative
    display inline-block

    &.ng-leave
      transition all .7s ease
      width 52px
      &.ng-leave-active
        width 0
        margin-right 0
        opacity 0

  .app-ln
    width 52px
    height 52px
    text-decoration none
    display inline-block
    padding 0 10px
    margin-right 12px
    // Need absolute font size here for the icons to line vertically center.
    font-size 24px
    app-ln()

    &:active
      -webkit-transform scale(.95)

    img
      vertical-align -webkit-baseline-middle

    &.new
      background-color #08B
      box-shadow 0 0 9px #08B
      -webkit-transform scale(1.1)

      &:hover
        box-shadow 0 0 48px #08B

      &:after
        content 'NEW'
        background-color rgba(255, 50, 50, 1)
        color white
        padding 0 3px
        -webkit-transform scale(.5)
        -webkit-transform-origin bottom right
        position absolute
        border-radius 6px 0
        right 0
        bottom 0

    &.new-add
      transition all .7s cubic-bezier(0.175, 0.885, 0.32, 1.5) // easeOutBack
      -webkit-transform scale(.1)
      box-shadow 0 0 0 #08B
      &.new-add-active
        -webkit-transform scale(1.1)
        box-shadow 0 0 0 #08B

    &.dev:after
      content ' '
      position absolute
      width 6px
      height @width
      border-radius (@width/2)
      background orange
      display block
      top (@width/2)
      right (@margin-right + @width/2)

    &.permInc
      border-bottom thin solid red

      img
        -webkit-filter grayscale(100%) brightness(60%)

  &.offline .noOffline
    -webkit-filter grayscale(100%)
    -webkit-transform scale(.8)

    &:after
      right 3px

    &:hover
      background-color rgba(0, 0, 0, .3)
      box-shadow 0 0 3px rgba(0, 0, 0, .3)

.tip
  position absolute
  border-radius 2px 2px 2px 0
  display none
  padding 3px 6px
  white-space nowrap
  z-index 1030
  tip()

[menu-box]
  position relative

  .menu
    position absolute
    z-index 1000
    display none
    float left
    min-width 160px
    padding 5px 0
    margin 2px 0 0
    list-style none
    border-radius 9px
    menu()

    &.ne
      bottom 100%
      left 0
      border-bottom-left-radius 0

    &.nw
      bottom 100%
      right 0
      border-bottom-right-radius 0

    &.se
      top 100%
      left 0
      border-top-left-radius 0

    a, .header
      display block
      padding 3px 20px
      line-height 1.428571429
      white-space nowrap

    .header
      font-weight bold

    a
      opacity .9

      i
        margin-right 6px
        opacity .7

      &:hover
        text-decoration none
        opacity 1

        i
          opacity .9

    .divider
      height 1px
      margin 9px 0
      overflow hidden
      background-color #333

  &.menu-open
    > .menu
      display block
    // > .tip
    //   display none

nav
  position fixed
  bottom 0
  height 37px
  width 100%
  z-index 20
  nav()

  .left
    float left

  .right
    float right

  a
    padding 6px 18px
    text-decoration none
    display inline-block

    &:hover, &:focus, &.active
      outline none

    &.edit-btn.active
      nav-edit-btn-active()

  .offline-ind
    opacity 1
    nav-offline-ind()

.radio-bar
  display inline-block
  vertical-align middle
  margin-left 12px

  input[type=radio]
    display none

    + span
      cursor pointer
      border thin solid invert(bg-color)
      padding 0 9px

    &:checked + span
      cursor default
      background-color invert(bg-color)
      color invert(fg-color)
      font-weight bold

  label
    float left

    + label
      margin-left -1px

  :first-child span
    border-radius 3px 0 0 3px

  :last-child span
    border-radius 0 3px 3px 0

// Transitions & Animations
.vslide.ng-hide-add,
.vslide.ng-hide-remove
  transition .5s linear all
  display block !important
  overflow hidden

.vslide.ng-hide-remove,
.vslide.ng-hide-add.ng-hide-add-active
  max-height 0
  opacity 0

.vslide.ng-hide-add,
.vslide.ng-hide-remove.ng-hide-remove-active
  max-height 50px
  opacity 1

.pop-slide.ng-hide-add,
.pop-slide.ng-hide-remove
  transition .1s ease-out all
  display block !important
  -webkit-transform-origin right

.pop-slide.ng-hide-remove,
.pop-slide.ng-hide-add.ng-hide-add-active
  -webkit-transform scaleX(0)

.pop-slide.ng-hide-add,
.pop-slide.ng-hide-remove.ng-hide-remove-active
  -webkit-transform scaleX(1)

.v-scale-slide.ng-hide-add,
.v-scale-slide.ng-hide-remove
  transition .2s ease-out all
  display block !important
  -webkit-transform-origin top

.v-scale-slide.ng-hide-remove,
.v-scale-slide.ng-hide-add.ng-hide-add-active
  -webkit-transform scaleY(0)
  opacity 0

.v-scale-slide.ng-hide-add,
.v-scale-slide.ng-hide-remove.ng-hide-remove-active
  -webkit-transform scaleY(1)
  opacity 1

/* Custom checkboxes and radio buttons.
 * Adapted from http://stackoverflow.com/a/14226542/151048 */
input[type=checkbox]
  display none

input[type=checkbox] + span:before
  font-family fontello
  padding-right 3px
  width 1.2em
  display inline-block

input[type=checkbox] + span:before
  content '✗' // check-empty

input[type=checkbox]:checked + span:before
  content '✓' // check-empty

